@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @{
        System.Reflection.Assembly assembly = typeof(VersionControllMVCTest.Controllers.HomeController).Assembly;
        System.Diagnostics.FileVersionInfo fileVersion = System.Diagnostics.FileVersionInfo.GetVersionInfo(assembly.Location);

        var versionText = assembly.GetName().Version;
        var fileVersionText = fileVersion.FileVersion;
        var productVersion = fileVersion.ProductVersion;
    }

    <p>&bull; Assembly Version. : @versionText</p>
    <p>&bull; Assembly File Version : @fileVersionText</p>
    <p>&bull; Assembly Informational Version : @productVersion </p>

    <p>MVC 專案調整 version.json 上的 versionHeightOffset, 更改成 100, 預期 File Version 會變成 3.0.103 開頭.</p>
</div>
