<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <p>&copy; Assembly Version. : <h5 id="version"></h5></p>
    <p>&copy; Assembly File Version : <h5 id="fileVersion"></h5></p>
    <p>&copy; Assembly Informational Version : <h5 id="informationalVersion"></h5></p>
</div>
<script>
    $.ajax({
        url: "../Value/GetVersion"
    }).done(function (data) {
        $("#version").text = data;
    });

    $.ajax({
        url: "../Value/GetFileVersion"
    }).done(function (data) {
        $("#fileVersion").text = data;
    });

    $.ajax({
        url: "../Value/GetInformationalVersion"
    }).done(function (data) {
        $("#informationalVersion").text = data;
    });

</script>